<div class="container pt-5">
    <div class="m-auto w-25">
        <form action="/sign_up" method="POST" >
            <label for="id" class="form-label">Phone_Number:</label>
            <input type="text" name="phone" id="id" class="form-control my-2" placeholder="please enter your Number" required>
            
            <label for="name" class="form-label">Name:</label>
            <input type="text" name="name" id="name" class="form-control my-2" placeholder="please enter your name" required>

            <label for="password" class="form-label">password:</label>
            <input type="password" id="password" name="password" class="form-control my-2" placeholder="please enter your password" required>

            <input type="submit" value="submit" name="submit" class="btn btn-dark" >
           
        </form>
    </div>
</div>
